* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  width: 400px;
  height: 400px;
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 1px solid;
  flex: 1 1 25px;
  height: 25px;
}